<h4 class="text-center fontTitle mt-5">Imprimir Presupuesto</h4>
<div class="container">
    <div class="row">
        <div class="text-center presupuesto my-4 py-2">PRESUPUESTO: {{presupuesto}}</div>
        <table class="table table-striped col-8"> 
            <thead class="text-center">
                <tr>
                    <th scope="col">Descripción</th>
                    <th scope="col">Cantidad</th>
                </tr>
            </thead>
            <tbody>
                <tr class="fs-5 text-center" *ngFor="let gasto of listaGastos">
                    <td>{{gasto.nombre}}</td>
                    <td class="text-center">{{gasto.cantidad}}</td>
                </tr>
                <tr class="fs-4 fw-bold">
                    <td class="text-end">TOTAL</td>
                    <td class="text-center">{{total}}</td>
                </tr>
                <tr class="fs-4 fw-bold">
                    <td class="text-end">RESTANTE</td>
                    <td class="text-center">{{restante}}</td>
                </tr>
            </tbody>
        </table>
    </div>
  <button class="btn btn-secondary" (click)="regresar()">Regresar</button>  
</div>
